# Python
venv/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.vscode/

# Environment files
.env

# ZIP files
*.zip

# Test data
tests/test_data/

# Miscellaneous
.DS_Store
Thumbs.db

# Exclude cprofile directory and files
cprofile/
*.txt
**/cprofile/*.txt